.logInBtn {
  float: right;
  color: rgb(10, 10, 10);
  background-color: rgb(255, 200, 90);
  border: 2px solid rgb(255, 200, 90);
  border-radius: 5px;
  text-align: center;
  font-size:1rem;
  font-weight:500;
  transition-duration: 0.4s;
  cursor: pointer;
  padding-left: 50%;
  padding-right: 50%;
  padding-bottom: 60%;
}
